html,
body {
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    box-sizing: border-box;
    padding: 1rem;
}

.heading {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

.primary,
.icon{
    color: dodgerblue;
}

.icon {
    margin-right: 1rem;
}

label{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    font-size: 2rem;
}

input[type = text]{
    box-sizing: border-box;
    width: 60%;
    margin: 5px 0 15px 0;
    font-size: 1.5rem;
    padding: 5px;
}

.btn {
    background: dodgerblue;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 5px;
    outline: 0;
    padding: 1rem;
    width: 60%;
    border-radius: 5px;
}

.table{
    width: 60%;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.btn-danger{
    background-color:red;
    color:#fff;
    display: inline-block;
    height: 15px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}

.alert{
    font-size: 1.5rem;
    color: #fff;
    width: 60%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.alert-danger{
    background: red;
}

.alert-success{
    background: rgb(49, 207, 49);
}

.table,
td, th{
    border: 2px solid gray;
    text-align: center;
    border-collapse: collapse;
    padding: 1rem;
}

.book-form{
    text-align: center;
}

.table{
    margin-left: auto;
    margin-right: auto;
}